on:
  release:
    types: [published]

jobs:
  homebrew-releaser:
    runs-on: ubuntu-latest
    name: homebrew-releaser
    steps:
      - name: Release Formula
        uses: Justintime50/homebrew-releaser@v1
        with:
            # The name of the homebrew tap to publish your formula to as it appears on GitHub.
            # Required - strings
            homebrew_owner: stanyzra
            homebrew_tap: stanyzra

            # The name of the folder in your homebrew tap where formula will be committed to.
            # Default is shown - string
            formula_folder: Formula

            # The Personal Access Token (saved as a repo secret) that has `repo` permissions for the repo running the action AND Homebrew tap you want to release to.
            # Required - string
            github_token: ${{ secrets.ACCESS_TOKEN }}

            # Git author info used to commit to the homebrew tap.
            # Defaults are shown - strings
            commit_owner: stanyzra
            commit_email: stanyhelberth@gmail.com

            depends_on: |
                "go" => :build
           
            install: 'system "go", "build", "-o", bin/"env-manager-v2"'
            
            test: 'assert_match "0.2.0", shell_output("#{bin}/env-manager-v2 --version")'